.fullscreen {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}

.split-screen {
  display: flex;
  height: 100vh;
}

.split-screen .left,
.split-screen .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.split-screen .left {
  background-color: red;
  min-width: 50vw;
}

.split-screen .right {
  background-color: green;
  min-width: 50vw;
}